@page
@model USER_REGISTER.Pages.Account.EditUserModel
@{
    ViewData["Title"] = "User Details";
    Layout = "_Layout";

}

<form method="post">

    <div class="card-body">
        <partial name="_UserAccountDetails" model="Model.user" />
    </div>
    <div class="clearfix"></div>
    <div class="card-footer text-right">
        @Html.RenderSaveButtonsControl(false)
    </div>
</form>

<form id="reload-form" action="@Url.Content(GlobalPageLinks.AccountLogin)">
    <input type="hidden" id="SuccessMessage" name="SuccessMessage" />
</form>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            app.controls.disableFormSubmission("UserName");
        app.logic.initializeSaveURL("@Url.Content(GlobalPageLinks.AccountEditUser)");

        });

        $("#PhoneNumber").focusout(function () {

            var num = $("#PhoneNumber").val();
            var trimmedNum = num.replace(/ /g, '').replace(/-/g, '');
            //alert(trimmedNum);

            if (trimmedNum != '') {
            if ($.isNumeric(trimmedNum)) {

                if (trimmedNum.length == 10) {
                    //alert("valid");
                }
                else {
                    $("#PhoneNumber").val("");
                    alert("Please enter a valid phone no.");
                }
            } else {
                $("#PhoneNumber").val("");
                alert("Please enter a valid phone no.");
                }
            }

        });

    </script>
}
