@model IErrorMessage
@{

    var message = Model?.ErrorMessage ?? this.Context.Request.Query[UIConstants.ErrorMessageFormField];
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                <b>Error</b>
                <div>
                    @message
                </div>
            </div>
        </div>
    </div>
}